.intro__subtitle {
    margin: 0 0 33px 0;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
   
}
@media screen and (max-width:494px) {
    .intro__subtitle{
        font-size: 16px;
        
    }
    
}