.header {
    gap: 18px;
    padding: 28px 48px 56px 48px;
    margin: 0 auto;
    grid-template-columns: 1fr min-content min-content;
    background-color: #2A2C2F;
    display: grid;
    max-width: 1280px;
}

@media screen and (max-width:1050px) {

    .header {
       padding-bottom: 48px;
    }
}

@media screen and (max-width:1024) {

    .header {
        width: 90%;
        padding: 28px 24px 48px 24px;
    }
}

@media screen and (max-width:802px) {
    
    .header {
        padding: 16px 16px 48px 16px;
        
    }
}
@media screen and (max-width:320px) {
    
    .header {
        max-width: 288px;
        
    }
}