.header {
    gap: 18px;
    margin: 0 auto;
    grid-template-columns: 1fr max-content max-content;
    background-color: #2A2C2F;
    display: grid;
    max-width: 1184px;
}

@media screen and (max-width:1050px) {

    .header {
        max-width: 928px;
    }
}

@media screen and (max-width:850px) {

    .header {
        max-width: 720px;
    }
}

@media screen and (max-width:550px) {
    
    .header {
        grid-template-columns: 1fr min-content min-content;
        max-width: 288px;
    }
}