.cover__text {
    gap: 32px;
    align-self: center;
    justify-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    
}

@media screen and (max-width:1196px) {
    .cover__text {
        padding: 195px 232px 293px 232px;
        row-gap: 32px;
    }
}
@media screen and (max-width:1024px) {
        .cover__text {
            padding: 195px 232px 0 232px;
            row-gap: 32px;
        }

    }

    @media screen and (max-width:1023px) {
        .cover__text{
            padding: 115px 104px 115px 104px;
        }
        
    }
    
@media screen and (max-width:700px) {
    .cover__text{
        gap: 16px;
        padding: 0;
        margin: 32px 16px 32px 16px;   
    }
    
}











