.cover__text {
    align-items: center;
    align-self: center;
    justify-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 245px 312px 245px 312px;
}
@media screen and (max-width:1180px) {
    .cover__text{
        padding: 195px 232px 195px 232px;
    }
    
}
@media screen and (max-width:970px) {
    .cover__text{
        padding: 115px 104px 115px 104px;   
    }
    
}
@media screen and (max-width:678px) {
    .cover__text{
        padding: 105px 70px 88px 70px;   
    }
    
}
@media screen and (max-width:506px) {
    .cover__text{
        padding: 33px 16px 33px 16px;
    }
    
}