.cover__overlay {
    aspect-ratio: 16/10;
    display: flex;
    background: rgba(42, 44, 47, 0.3);
    min-width: 1184px;
    min-height: 740px;
    flex-direction: column;
    transition: all .3s;
    text-decoration: none;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8);

}
@media screen and (max-width:1186px) {
    .cover__overlay{
        min-width: 1024px;
        min-height: 640px;
        
    }
    
}
@media screen and (max-width:1036px) {
    .cover__overlay{
        min-width: 768px;
        min-height: 480px;
        
    }
    
}
@media screen and (max-width: 777px) {
    .cover__overlay{
        min-width: 520px;
        min-height: 320px;
    }
    
}
@media screen and (max-width:567px) {
    .cover__overlay{
        min-width: 320px;
        min-height: 200px;
    }
    
}