.cover__overlay {
    justify-content: center;
    row-gap: 32px;
    max-width: 1184px;
    aspect-ratio: 16/10;
    display: flex;
    background: rgba(42, 44, 47, 0.3);
    flex-direction: column;
    transition: all .3s;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8);

}

@media screen and (max-width:700px) {
    .cover__overlay {
        row-gap: 16px;
    }

}

@media screen and (max-width:320px) {
    .cover__overlay {
        max-width: 320px;
    }

}