.cover__overlay {
    aspect-ratio: 16/10;
    display: flex;
    background: rgba(42, 44, 47, 0.3);
    flex-direction: column;
    transition: all .3s;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8);

}






























