.place {
    margin-bottom: 80px;
    max-width: 984px;

    column-gap: 40px;
    display: grid;
    grid-template-columns: 460px minmax(352px,484px);
    grid-template-rows: repeat(3, auto);

}

.place:nth-of-type(5) {
    margin-bottom: 0;

}
@media screen and (max-width:1280px) {
    .place{
        grid-template-columns: 440px minmax(352px,484px);
        column-gap: 32px;
    }
    
}
@media screen and (max-width:1024px) {
    .place{
        gap: 28px;
        margin: 0 auto;
        grid-template-columns: 330px minmax(352px,484px); 
    }
    
}
@media screen and (max-width:670px) {
    .place{
        gap:0;
        grid-template-areas: 
        "header"
        "website"
        "image"
        "text";
        grid-template-columns: 320px;
        margin-bottom: 50px;
    }
    .place:last-child{
        margin-bottom: 0;
    }
}
/*
@media screen and (max-width:1024px) {
    .place {
        grid-template-areas:
            "header"
            "website"
            "image"
            "text";
        max-width: 928px;
        column-gap: 32px;

    }

}

@media screen and (max-width:940px) {
    .place {





        column-gap: 28px;
        margin-bottom: 73px;

    }

}

@media screen and (max-width: 664px) {
    .place {
        row-gap: 0;
        max-width: 320px;
        grid-template-columns: min-content;
        grid-template-rows: repeat(6, max-content);
    }

}