.place {
    margin-bottom: 80px;
    max-width: 984px;
    column-gap: 40px;
    display: grid;
    grid-template-columns: 460px auto;
    grid-template-rows: auto auto;
}

.place:last-child {
    margin-bottom: 0;

}

@media screen and (max-width:1280px) {
    .place {
        grid-template-columns: 460px minmax(352px, 484px);
        column-gap: 32px;
    }

}

@media screen and (max-width:1024px) {
    .place {
        grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
        column-gap: 28px;
        margin-bottom: 73px;

    }

}

@media screen and (max-width:767px) {
    .place {
        gap: 0;
        grid-template-areas:
            "header"
            "website"
            "image"
            "text";
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
}