.place__website{
   
    align-self: flex-end;
    
   
   
    margin-bottom: 0;
}
@media screen and (max-width:934px) {
    .place__website{
        
        

    }
    
}
@media screen and (max-width:870px) {
    .place__website{
        margin-left: 16px;
        grid-area: website;
        margin-bottom: 32px;
    }
    
}